.row1 {
    display: grid;
    grid-template-columns: auto auto;
}

.rc1 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.rc1-2 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.row2 {
    display: grid;
    grid-template-columns: auto;
}

.rc2 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.row3 {
    display: grid;
    grid-template-columns: auto;
}

.rc3 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.row4 {
    display: grid;
    grid-template-columns: auto;
}

.rc4 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.row5 {
    display: grid;
    grid-template-columns: auto;
}

.rc5 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}
.row6 {
    display: grid;
    grid-template-columns: auto;
}

.rc6 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.row7 {
    display: grid;
    grid-template-columns: auto;
}

.rc7 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.row8 {
    display: grid;
    grid-template-columns: auto;
}

.rc8 {
    background-color: rgb(0, 200, 255);
    border-top: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

.row9 {
    display: grid;
    grid-template-columns: auto;
}

.rc9 {
    background-color: rgb(0, 200, 255);
    border: 1px solid black;
    color: black;
    padding: 2px;
    height: auto;
}

@media only screen and (max-width:700px) {
    .row1 {
        display: grid;
        grid-template-columns: auto;
    }
    .row2 {
        display: grid;
        grid-template-columns: auto;
    }
    .row3 {
        display: grid;
        grid-template-columns: auto;
    }
}
@media only screen and (min-width:700px) {
    .rc1-2 {
        border-left: 1px solid black;
    }
}
